@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
}

.card {
  padding: 20px;
  border-radius: 6px;
}

.wrapper {
  position: relative;
}

.info-card,
.fa-github,
.loading {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.info-card {
  position: absolute;
  z-index: 2000;
  width: 200px;
  top: 80px;
  left: 20px;
  text-align: left !important;
  background-color: rgb(247, 255, 249);
  color: rgba(63, 63, 63, 0.877);
  text-transform: capitalize;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.2);
}

.info-card img {
  margin: 0 auto;
}

.info-card:hover {
  transform: scale(1.15);
}

.info-card .city {
  font-size: 1.7em;
  text-align: center;
}

.info-card > p {
  margin: 5px 0;
}

.leaflet-container {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
}

@media (max-width: 730px) {
  .info-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
    width: 100%;
    font-size: 0.8rem;
    top: 0;
    left: 0;
    max-height: 20vh;
  }

  /* User can proc the hover effect by holding down the element for a second or so*/
  .info-card:hover {
    transform: scale(0.95);
  }

  .city {
    font-size: 1.5rem;
  }

  .info-card img {
    max-width: 40px;
  }
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
